# gradle

.gradle/
build/
out/
classes/
checkouts/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

fabric/run/
run/
forge/src/main/java/**/mod
forge/src/main/resources/assets
forge/src/main/resources/data
forge/run

**/tjmetro/lang/*.json
!en_us.json
/forge/src/main/resources/tjmetro.mixins.json
/forge/src/main/java/ziyue/centralconfig/
